@page "/EditTransaction/{transactionId:int}"
@using Categorically.Tasks
@using Categorically.DataAccess.Models
@inject ITransactionTasks transactionTasks
@inject ICategoryTasks categoryTasks
@inject IUserTasks userTasks
@inject NavigationManager navigationManager

<h2>Edit Transaction</h2>
<hr />

@if (transaction is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <form>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="TransactionDate" class="control-label">Transaction Date</label>
                    <input form="TransactionDate" type="date" class="form-control" @bind="@transaction.TransactionDate" />
                </div>
                <div class="form-group">
                    <label for="Amount" class="control-label">Amount</label>
                    <input form="Amount" type="number" step="0.01" class="form-control" @bind="@transaction.Amount" />
                </div>
                <div class="form-group">
                    <label for="ChargedByName" class="control-label">Charged By Name</label>
                    <input form="ChargedByName" class="form-control" @bind="@transaction.ChargedByName" />
                </div>
                <div class="form-group">
                    <label for="Description" class="control-label">Description</label>
                    <input form="Description" class="form-control" @bind="@transaction.Description" />
                </div>
                <div class="form-group">
                    <label for="CategoryId" class="control-label">Category</label>
                    <select form="CategoryId" class="form-control" @bind="@transaction.CategoryId">
                        <option value="">Select category</option>
                        @foreach (var category in categories)
                        {
                            <option value="@category.CategoryId">@category.CategoryName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="UserId" class="control-label">User</label>
                    <select form="UserId" class="form-control" @bind="@transaction.UserId">
                        <option value="">Select user</option>
                        @foreach (var user in users)
                        {
                            <option value="@user.UserId">@user.UserName</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="button" class="btn btn-primary" @onclick="@UpdateTransaction" value="Update" />
                    <input type="button" class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
                </div>
            </div>
        </div>
    </form>
}

@code {
    Transaction transaction = new();
    List<Category> categories = new();
    List<User> users = new();

    [Parameter]
    public int transactionId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await transactionTasks.GetTransactionAsync(transactionId);
        if (response != null)
        {
            transaction = response;
        };
        categories = await categoryTasks.GetAllCategoriesAsync();
        users = await userTasks.GetAllUsersAsync();
    }

    protected async Task UpdateTransaction()
    {
        await transactionTasks.UpdateTransactionAsync(transaction);
        navigationManager.NavigateTo("Transactions");
    }

    void Cancel()
    {
        navigationManager.NavigateTo("Transactions");
    }
}
