@page "/Users"
@using Categorically.Services;
@using Categorically.DataAccess.Models
@inject UserService userService

<NavLink class="nav-link" href="AddUser">
    <span class="oi oi-plus" aria-hidden="true">Add New</span>
</NavLink>

<h1>User Info</h1>
@if (UsrObj is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>UserId</th>
                <th>UserName</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usr in UsrObj)
            {
                <tr>
                    <td>@usr.UserId</td>
                    <td>@usr.UserName</td>
                    <td>@usr.FirstName</td>
                    <td>@usr.LastName</td>
                    <td>@usr.Email</td>
                    <td>
                        <a class="nav-link" href="EditUser/@usr.UserId">
                            <span class="oi oi-pencil" aria-hidden="true">Edit</span>
                        </a>
                        <a class="nav-link" href="DeleteUser/@usr.UserId">
                            <span class="oi oi-trash" aria-hidden="true">Delete</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<User> UsrObj;
    protected override async Task OnInitializedAsync()
    {
        UsrObj = await Task.Run(() => userService.GetAllUsersAsync());
    }
}